
.movie-card {
    width: 250px;
    height: 400px;
    position: relative;
    margin: 10px;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.374);
    cursor: pointer;
    transform: scale(1);
    transition: all .2s linear;
}

.movie-card:hover {
    transform: scale(1.1);
}

.movie-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.movie-card .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0) linear-gradient(0deg, hsl(0, 0%, 0%) 0%, rgba(0, 0, 0, 0) 35%) repeat scroll 0 0;;
}

.movie-card .movie-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    z-index: 2;
}

.movie-card .movie-info .movie-rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.movie-card .movie-rating svg {
    margin-left: 5px;
    color: #ffae00;
}