.navbar {
    height: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    font-family: Cascadia Code;
    font-weight: bold;
}

.navbar svg {
    color: #ffffff;
}

.navbar .left {
    font-size: 20px;
}

.navbar .center svg {
    transition: all .4s linear;
    font-size: 45px;
}
.navbar .center svg:hover {
    transform: rotate(720deg);
    color: #ffcc00;
}

.navbar .right ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar .right ul li {
    cursor: pointer;
}
.navbar .right li:first-child svg {
    font-size: 24px;
}
.navbar .right ul li svg {
    transition: all .2s linear;
}
.navbar .right ul li svg:hover {
    transform: scale(1.2);
    color: #ffcc00;
}

.navbar .right li:last-child svg {
    font-size: 20px;
}
